.firstDiv {
    margin-top: 10px;
}
.li {
    padding: 1px 5px 1px 5px;
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
    border: solid;
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
    background-color: transparent;
}
.li::placeholder{
    color: black;
}
.generalDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ul{
    padding: 0;
    margin: 0;
    margin-top: 10px;
    width: 20%;
}
i{
    color: rgb(0, 0, 0);
}
i:hover{
    color: red;
    cursor: pointer;
}
.deleteAll{
    margin-top: 30px;
}
.btnAdd{
    border: solid;
    border-color: black;
    background-color: black;
    color: white;
    margin-left: 3px;
}
.btnDelete{
    border: solid;
    border-color: black;
    background-color: black;
    color: white;
}
.inputs {
    background-color: transparent;
    color: black;
    border: solid;
    border-color: black;
    margin-top: 5px;
}
.inputs::placeholder {
    color: black;
}
.tasks{
    font-family: 'Rammetto One', cursive;
    margin-top: 20px;
}
.todolist{
    font-family: 'Rammetto One', cursive;
    margin-top: 50px;
    margin-bottom: 30px;
}